<!--layout/header.html -->
<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
    <div class="col-lg-3" th:fragment="sidebar">
        <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link active" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/categories}">Category</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/cities}">City</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/users}">Users</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/orders}">Orders</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and not #authentication.principal.isAdmin}">
                <a class="nav-link" href="@{/dashboard/my-orders}">My Orders</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/contacts}">Contacts</a>
            </li>
            <li class="nav-item" th:if="${#authentication.authenticated and #authentication.principal.isAdmin}">
                <a class="nav-link" th:href="@{/dashboard/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</body>
</html>