<!DOCTYPE html>
<html lang="en" layout:decorate="fragments/base" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Product | Smart Furniture Shop</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/menu/logo/logo.png}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/font-awesome.css}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/fontawesome-stars.css}">
    <!-- Ion Icon -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/ion-fonts.css}">
    <!-- Slick CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/slick.css}">
    <!-- Animation -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animate.css}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.min.css}">
    <!-- Lightgallery -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/lightgallery.min.css}">
    <!-- Nice Select -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nice-select.css}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>
<body>

<div class="main-wrapper">
    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content">

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Add Products</h2>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="active">Add Products</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Page Content Area -->
        <main class="page-content">
            <!-- Begin Uren's Account Page Area -->
            <div class="account-page-area">
                <div class="container-fluid">
                    <div class="row">
                        <div th:replace="fragments/sidebar :: sidebar"></div>
                        <div class="col-lg-9">

                            <h4 class="small-title">Add a Product</h4>
                            <div class="myaccount-details">
                                <form class="uren-form" th:action="@{/dashboard/products/add}" method="post" th:object="${product}" enctype="multipart/form-data">
                                    <input type="hidden" th:csrf />
                                    <div th:if="${success}" class="alert alert-success">
                                        <span th:text="${success}"></span>
                                    </div>
                                    <div th:if="${error}" class="alert alert-danger">
                                        <span th:text="${error}"></span>
                                    </div>
                                    <div class="uren-form-inner">
                                        <div class="single-input single-input-half">
                                            <label for="name">Name <span class="text-danger">*</span></label>
                                            <input type="text" id="name" th:field="*{name}" required>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="category">Category <span class="text-danger">*</span></label>
                                            <select th:field="*{category.id}"><option th:each="cat : ${categories}" id="category" th:value="${cat.id}" th:text="${cat.name}">Category</option></select>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="price">Price <span class="text-danger">*</span></label>
                                            <input type="number" id="price" th:field="*{price}" step="0.01" required>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="quantity">Quantity <span class="text-danger">*</span></label>
                                            <input type="number" id="quantity" th:field="*{quantity}">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="size">Size</label>
                                            <input type="text" id="size" th:field="*{size}">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="color">Color <span class="text-danger">*</span></label>
                                            <input type="text" id="color" th:field="*{color}" required>
                                        </div>
                                        <div class="single-input">
                                            <label for="discount">Discount (%)</label>
                                            <input type="number" id="discount" step="0.01" min="0" max="100000" th:field="*{discount}">
                                        </div>
                                        <div class="single-input">
                                            <label for="description">Description <span class="text-danger">*</span></label>
                                            <textarea id="description" th:field="*{description}" rows="25" maxlength="1000" required></textarea>
                                        </div>
<!--                                        <div class="single-input">-->
<!--                                            <label for="image">Image <span class="text-danger">*</span></label>-->
<!--                                            <input type="file" id="image" name="image" accept="image/*" required/>-->
<!--                                        </div>-->
                                        <div class="single-input">
                                            <button class="uren-btn uren-btn_dark" type="submit"><span>Add Product</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- Uren's Account Page Area End Here -->
        </main>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
<!-- Popper JS -->
<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>

<!-- Slick Slider JS -->
<script th:src="@{/assets/js/plugins/slick.min.js}"></script>
<!-- Barrating JS -->
<script th:src="@{/assets/js/plugins/jquery.barrating.min.js}"></script>
<!-- Counterup JS -->
<script th:src="@{/assets/js/plugins/jquery.counterup.js}"></script>
<!-- Nice Select JS -->
<script th:src="@{/assets/js/plugins/jquery.nice-select.js}"></script>
<!-- Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/jquery.sticky-sidebar.js}"></script>
<!-- Jquery-ui JS -->
<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.ui.touch-punch.min.js}"></script>
<!-- Lightgallery JS -->
<script th:src="@{/assets/js/plugins/lightgallery.min.js}"></script>
<!-- Scroll Top JS -->
<script th:src="@{/assets/js/plugins/scroll-top.js}"></script>
<!-- Theia Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
<!-- Waypoints JS -->
<script th:src="@{/assets/js/plugins/waypoints.min.js}"></script>
<!-- jQuery Zoom JS -->
<script th:src="@{/assets/js/plugins/jquery.zoom.min.js}"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>