<!--templates/login.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact | Smart Furniture Shop</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/menu/logo/logo.png}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/font-awesome.css}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/fontawesome-stars.css}">
    <!-- Ion Icon -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/ion-fonts.css}">
    <!-- Slick CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/slick.css}">
    <!-- Animation -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animate.css}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.min.css}">
    <!-- Lightgallery -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/lightgallery.min.css}">
    <!-- Nice Select -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nice-select.css}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{fragments/header :: header}"></div>

    <div layout:fragment="content">

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Authentication</h2>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="active">Login & Register</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Login Register Area -->
            <div class="uren-login-register_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">

                            <form th:action="@{/login}" method="post">
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <!-- Login Form s-->
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger" role="alert">
                                            Invalid username and password.
                                        </div>
                                    </div>
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-danger" role="alert">
                                            You have been logged out.
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <label>Email Address <span class="text-danger">*</span></label>
                                            <input type="text" name="email" placeholder="Email Address">
                                        </div>
                                        <div class="col-12 mb--20">
                                            <label>Password <span class="text-danger">*</span></label>
                                            <input type="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="check-box">
                                                <input type="checkbox" id="remember_me">
                                                <label for="remember_me">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="forgotton-password_info">
                                                <a href="#"> Forgotten pasward?</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="uren-login_btn" type="submit">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                            <form id="contact-form" th:action="@{/register}" th:object="${user}" method="post">

                                <div class="login-form">
                                    <h4 class="login-title">Register</h4>
                                    <!-- Success Message -->
                                    <div th:if="${registerSuccess}">
                                        <div class="alert alert-success" role="alert" th:text="${registerSuccess}"></div>
                                    </div>
                                    <!-- Error Messages -->
                                    <div th:if="${#fields.hasErrors()}">
                                        <div class="alert alert-danger" role="alert" th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-12 mb--20">
                                            <label for="firstName">First Name <span class="text-danger">*</span></label>
                                            <input type="text" id="firstName" th:field="*{firstName}" placeholder="First Name" required>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label for="lastName">Last Name <span class="text-danger">*</span></label>
                                            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name" required>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label for="email">Email Address <span class="text-danger">*</span></label>
                                            <input type="email" id="email" th:field="*{email}" placeholder="Email Address" required>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label for="phoneNumber">Phone Number <span class="text-danger">*</span></label>
                                            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone Number" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="password">Password <span class="text-danger">*</span></label>
                                            <input type="password" id="password" th:field="*{password}" placeholder="Password" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
                                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                                            <div th:if="${confirmPasswordError}" class="text-danger" th:text="${confirmPasswordError}"></div>
                                        </div>

                                        <div class="col-12">
                                            <button type="submit"  class="uren-register_btn">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Uren's Login Register Area  End Here -->

    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
<!-- Popper JS -->
<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>

<!-- Slick Slider JS -->
<script th:src="@{/assets/js/plugins/slick.min.js}"></script>
<!-- Barrating JS -->
<script th:src="@{/assets/js/plugins/jquery.barrating.min.js}"></script>
<!-- Counterup JS -->
<script th:src="@{/assets/js/plugins/jquery.counterup.js}"></script>
<!-- Nice Select JS -->
<script th:src="@{/assets/js/plugins/jquery.nice-select.js}"></script>
<!-- Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/jquery.sticky-sidebar.js}"></script>
<!-- Jquery-ui JS -->
<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.ui.touch-punch.min.js}"></script>
<!-- Lightgallery JS -->
<script th:src="@{/assets/js/plugins/lightgallery.min.js}"></script>
<!-- Scroll Top JS -->
<script th:src="@{/assets/js/plugins/scroll-top.js}"></script>
<!-- Theia Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
<!-- Waypoints JS -->
<script th:src="@{/assets/js/plugins/waypoints.min.js}"></script>
<!-- jQuery Zoom JS -->
<script th:src="@{/assets/js/plugins/jquery.zoom.min.js}"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>