<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact | Smart Furniture Shop</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/menu/logo/logo.png}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}">
    <!-- Fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/font-awesome.css}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/fontawesome-stars.css}">
    <!-- Ion Icon -->
    <link rel="stylesheet" th:href="@{/assets/css/vendor/ion-fonts.css}">
    <!-- Slick CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/slick.css}">
    <!-- Animation -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animate.css}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.min.css}">
    <!-- Lightgallery -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/lightgallery.min.css}">
    <!-- Nice Select -->
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nice-select.css}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>
<body>

<div class="main-wrapper">
    <div th:replace="~{fragments/header :: header}"></div>


    <div layout:fragment="content">
        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Products</h2>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="active">Products</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <!-- Begin Uren's Shop Left Sidebar Area -->
        <div class="shop-content_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                        <div class="uren-sidebar-catagories_area">
                            <div class="category-module uren-sidebar_categories">
                                <div class="category-module_heading">
                                    <h5>Categories</h5>
                                </div>
                                <div class="module-body">
                                    <ul class="module-list_item">
                                        <li>
                                            <a href="javascript:void(0)">Games & Consoles <span>(12)</span></a>
                                            <a href="javascript:void(0)">Appliances <span>(0)</span></a>
                                            <a href="javascript:void(0)">Audio <span>(0)</span></a>
                                            <a href="javascript:void(0)">Bakeware <span>(0)</span></a>
                                            <a href="javascript:void(0)">Body Parts <span>(12)</span></a>
                                            <a href="javascript:void(0)">Cameras & Camcoders <span>(12)</span></a>
                                            <a href="javascript:void(0)">Car Parts <span>(16)</span></a>
                                            <a href="javascript:void(0)">Cookies & Crackers <span>(2)</span></a>
                                            <a href="javascript:void(0)">Interior <span>(0)</span></a>
                                            <a class="active" href="javascript:void(0)">Shop <span>(18)</span></a>

                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="sidebar-banner_area">
                            <div class="banner-item img-hover_effect">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/shop/1.jpg" alt="Uren's Shop Banner Image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                        <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/1.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/2.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Veniam
                                                        officiis voluptates</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price">$122.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/1.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/2.jpg" alt="Uren's Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i>
                                                        </li>
                                                        <li class="silver-color"><i class="ion-android-star"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Veniam officiis
                                                    voluptates</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price">$122.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/3.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/4.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Rerum perspiciatis
                                                        qui</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">$194.00</span>
                                                        <span class="old-price">$241.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/3.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/4.jpg" alt="Uren's Product Image">
                                            </a>
                                            <div class="sticker-area-2">
                                                <span class="sticker-2">-20%</span>
                                                <span class="sticker">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Rerum perspiciatis
                                                    qui</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$194.00</span>
                                                    <span class="old-price">$241.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/5.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/6.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Inventore quibusdam
                                                        ut</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/5.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/6.jpg" alt="Uren's Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Inventore quibusdam
                                                    ut</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price">$150.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/7.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/8.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Cupiditate quia
                                                        cumque</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">$185.00</span>
                                                        <span class="old-price">$210.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/7.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/8.jpg" alt="Uren's Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Cupiditate quia
                                                    cumque</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$185.00</span>
                                                    <span class="old-price">$210.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/9.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/10.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Adipisci et qui
                                                        eveniet</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price">$110.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/9.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/10.jpg" alt="Uren's Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Adipisci et qui
                                                    eveniet</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price">$110.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="assets/images/product/large-size/1.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="assets/images/product/large-size/2.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                                class="ion-bag"></i></a>
                                                        </li>
                                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                class="ion-android-open"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" href="single-product.html">Reiciendis
                                                        repudiandae asperiores</a></h6>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">$95.00</span>
                                                        <span class="old-price">$141.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="assets/images/product/large-size/3.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="assets/images/product/large-size/4.jpg" alt="Uren's Product Image">
                                            </a>
                                            <div class="sticker-area-2">
                                                <span class="sticker-2">-15%</span>
                                                <span class="sticker">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Reiciendis repudiandae
                                                    asperioresi</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$95.00</span>
                                                    <span class="old-price">$141.00</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>The invention relates to an electromechanical brake booster with an
                                                        electric motor and a helical gearing. The brake booster is used for
                                                        coupling an auxiliary force via a driver into a piston rod. The
                                                        invention proposes connecting a spindle of the helical gearing
                                                        elastically via a spring element to the piston rod such that, in the
                                                        event of rapid actuation of the brake, the helical gearing and a rotor
                                                        of the electric motor do not have to be accelerated entirely muscle
                                                        power. The muscle power required for actuating a brake is reduced as a
                                                        result in the event of a rapid actuation of the brake.</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box primary-color">
                                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                                <li><a href="javascript:void(0)">2</a></li>
                                                <li><a href="javascript:void(0)">3</a></li>
                                                <li><a href="javascript:void(0)">4</a></li>
                                                <li><a href="javascript:void(0)">5</a></li>
                                                <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Shop Left Sidebar Area End Here -->

    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- Modernizer JS -->
<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
<!-- Popper JS -->
<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>

<!-- Slick Slider JS -->
<script th:src="@{/assets/js/plugins/slick.min.js}"></script>
<!-- Barrating JS -->
<script th:src="@{/assets/js/plugins/jquery.barrating.min.js}"></script>
<!-- Counterup JS -->
<script th:src="@{/assets/js/plugins/jquery.counterup.js}"></script>
<!-- Nice Select JS -->
<script th:src="@{/assets/js/plugins/jquery.nice-select.js}"></script>
<!-- Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/jquery.sticky-sidebar.js}"></script>
<!-- Jquery-ui JS -->
<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.ui.touch-punch.min.js}"></script>
<!-- Lightgallery JS -->
<script th:src="@{/assets/js/plugins/lightgallery.min.js}"></script>
<!-- Scroll Top JS -->
<script th:src="@{/assets/js/plugins/scroll-top.js}"></script>
<!-- Theia Sticky Sidebar JS -->
<script th:src="@{/assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
<!-- Waypoints JS -->
<script th:src="@{/assets/js/plugins/waypoints.min.js}"></script>
<!-- jQuery Zoom JS -->
<script th:src="@{/assets/js/plugins/jquery.zoom.min.js}"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>